.seguimiento {
    padding: var(--spacing-m);
    background-color: var(--color-body-background);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.seguimiento__table-container {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing-m);
}

.seguimiento table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.seguimiento thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.seguimiento tbody {
    display: block;
    max-height: 320px;
    width: 100%;
}

.seguimiento tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.seguimiento table th,
.seguimiento table td {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: 1rem;
    color: var(--color-text);
    border-bottom: 1px solid #4A5A69;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}

.seguimiento table tbody tr:hover {
    background-color: transparent;
}

.seguimiento button {
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.seguimiento__tratamiento-button {
    background-color: var(--color-action);
    color: var(--color-text);
    padding: 8px 20px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
    width: 200px;
}

.seguimiento__tratamiento-button:hover {
    background-color: var(--color-action-hover);
}

.seguimiento__create-treatment {
    background-color: var(--color-action);
    width: 300px;
}

.seguimiento__create-treatment:hover {
    background-color: #2E7474;
}

.seguimiento__cancel {
    background-color: var(--color-error);
    width: 300px;
}

.seguimiento__cancel:hover {
    background-color: #D94A50;
}

.seguimiento__actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: var(--spacing-m);
}

.seguimiento__history-button {
    background-color: var(--color-action);
    color: var(--color-text);
    padding: 8px 20px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-left: auto;
    display: block;
    width: 200px;
}

.seguimiento__history-button:hover {
    background-color: #2E7474;
}

.seguimiento__patient-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-l);
}

.seguimiento__patient-info h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
