.seguimiento {
    padding: var(--spacing-m);
    background-color: var(--color-body-background);
    border-radius: var(--border-radius);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--color-text);
    border-radius: 13px;
    height: 50px;
}

header .user-info {
    display: flex;
    align-items: center;
}

header .user-icon {
    font-size: 2rem;
}

header .user-name {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 10px;
    color: var(--color-text-dark);
}

.table-container {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing-m);
    flex-shrink: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    max-height: 320px;
    width: 100%;
}

tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

table th, table td {
    padding: var(--spacing-s) var(--spacing-m);
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    color: var(--color-text);
    border-bottom: 1px solid #4A5A69;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody tr:hover {
    background-color: transparent;
}

/* Botones */
button {
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.tratamiento-button {
    background-color: var(--color-action);
    color: var(--color-text);
    padding: 8px 20px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
    width: 200px;
}

.tratamiento-button:hover {
    background-color: var(--color-action-hover);
}

.seguimiento__create-treatment {
    background-color: var(--color-action);
    color: white;
    padding: 12px 12px;
    width: 300px;
    height: 35px;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 1rem;
    justify-content: center;
}

.seguimiento__create-treatment:hover {
    background-color: #2E7474;
}

.seguimiento__cancel {
    background-color: var(--color-error);
    color: white;
    padding: 12px 24px;
    width: 300px;
    height: 35px;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 1rem;
    justify-content: center;
}

.seguimiento__cancel:hover {
    background-color: #D94A50;
}

.actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: var(--spacing-m);
}