.toggleContainer {
  display: flex;
  margin-bottom: 32px;
  gap: 0;
  justify-content: flex-start;
}

.toggleBtn {
  background: #d9f8fa;
  color: #222c36;
  border: none;
  border-radius: 13px 0 0 13px;
  padding: 16px 48px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #d9f8fa;
  transition: background 0.2s, color 0.2s;
}

.toggleBtn:last-child {
  border-radius: 0 13px 13px 0;
  border-left: none;
}

.active {
  background: #222c36;
  color: #fff;
}
