.primerConsulta__container {
    padding: var(--spacing-m);
    background-color: var(--color-body-background);
    border-radius: var(--border-radius);
    min-height: 100vh;
}

.primerConsulta__header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--color-text);
    border-radius: 13px;
    height: 50px;
}

.primerConsulta__user-info {
    display: flex;
    align-items: center;
}

.primerConsulta__user-icon {
    font-size: 2rem;
}

.primerConsulta__user-name {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 10px;
    color: var(--color-text-dark);
}

.primerConsulta__patient-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-l);
}

.primerConsulta__patient-info h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.primerConsulta__history-button {
    background-color: var(--color-action);
    color: var(--color-text);
    padding: 8px 20px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 200px;
}

.primerConsulta__history-button:hover {
    background-color: #2E7474;
}

.primerConsulta__table-container {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: var(--spacing-l) 0;
}

.primerConsulta__table {
    width: 100%;
    border-collapse: collapse;
}

.primerConsulta__table th,
.primerConsulta__table td {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: 1rem;
    color: var(--color-text);
    border-bottom: 1px solid #4A5A69;
    text-align: center;
    white-space: nowrap;
}

.primerConsulta__table th {
    font-weight: 600;
    background-color: var(--color-background);
}

.primerConsulta__actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: var(--spacing-m);
}

.primerConsulta__crear {
    background-color: var(--color-action);
    width: 300px;
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--border-radius);
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-text);
}

.primerConsulta__crear:hover {
    background-color: #2E7474;
}

.primerConsulta__cancelar {
    background-color: var(--color-error);
    width: 300px;
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--border-radius);
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-text);
}

.primerConsulta__cancelar:hover {
    background-color: #D94A50;
}
